#slionPage {
	font-family: "georgia", "verdana", Geneva, Arial, sans-serif;
	color:#000;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "times", serif;
}
.foswikiTopic {
	background-color:#E2D7B9;
	border:3px double #555;
	padding:.5em;
}
#slionSideBar {
	font-family:Times;
}
.slionTop {
	font-family:Times;
}
#slionSideBar a:link,
#slionSideBar a:visited {
	color:#666;
}
#slionSideBar a:hover {
	color:#acc3b1;
}
.slionLeftBarPersonal {
	background:none;
}
.slionLeftBarPersonal a:link,
.slionLeftBarPersonal a:visited {
	color:#800;
}
#slionMain {
	background:none;
}