
html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font: 12px/1.5 verdana, arial, helvetica, sans-serif;
}

#slionScreen {
	position: relative;
	min-height: 100%;
	height: 100%;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: auto;
	width: 100%
}

html>body #slionScreen {
	height: auto;
	/*SL: we override the borders on the screen coz it triggers scrollbars*/
	border: 0;
}

#slionOuter {
	z-index:1; /*** Critical value for Moz/Opera Background Column colors fudge to work ***/
	position:relative; /*** IE needs this or the contents won't show outside the parent container. ***/

	height:100%;
/* Last height declaration hidden from Mac IE 5.x */
/*** Needed for full height inner borders in Win IE ***/
}

#slionFloatWrap {
	width:100%;
	float:left;
	display:inline;
}

#slionSideBar {
	float:left;
	display:inline;
	overflow:hidden;
}
#slionSideBarContents {
	position:relative;
}

#slionMain {
	width:100%;
	float:right;
	display:inline;
}

#slionTopBar {
	z-index:1; /*** Critical value for Moz/Opera Background Column colors fudge to work ***/
	position:absolute;
	top:0px;
	width:100%;
}

#slionBottomBar {
	position: absolute;
	bottom: 0;
	width: 100%;
}

