%TMPL:INCLUDE{"changes"}%


%TMPL:DEF{"titleaction"}%%MAKETEXT{"(changes)"}% %TMPL:END%


%TMPL:DEF{"top"}%%TMPL:END%
%TMPL:DEF{"topicinfo"}%%TMPL:END%


%TMPL:DEF{"content"}%<div class="slionSearchResults">%TMPL:P{"header"}%%REPEAT%%TMPL:P{"result"}%%REPEAT%</div><!--/slionSearchResults-->%TMPL:END%